<div style="padding: 20px">
  <h2>List My Todos</h2>


  @if (todos().length === 0) {
    <p>You haven't created a todo so far.</p>
  } @else {
    <ul>
      @for (todo of todos(); track todo.id) {
        <li>
          <div>
            <h4>{{ todo.title }}</h4>
            <p>{{ todo.description }}</p>
            <button (click)="onDelete(todo)">Delete</button>
            <a [routerLink]="['/todos/update',todo.id]">Update todo</a>
          </div>
        </li>
      }
    </ul>
  }

  <p>
    Create a new todo
    <a routerLink="/todos/create">here</a>
  </p>
</div>
